.dasboardGridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}

.dashboardGridItem>* {
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
  padding-right: 0;
}

.progressContainer div {
  margin: 0 auto;
  width: 50%;
}

.dashboardIcon {
  width: auto;
  height: 40px;
  filter: contrast(0%);
  vertical-align: middle;
  padding: 3px;
}

#fullScreenIcon {
  width: auto;
  height: 15px;
  float: right;
  -webkit-user-drag: none;
}

.dashboardSmall {
  color: #08c;
  font-size: 15px;
  padding: 0;
}

.dashboardLarge {
  color: #08c;
  font-size: 25px;
}

.dashboardProgressContainer {
  .u-absoluteCenter();
  .u-flexCenter();
}

.dashboardLayerProgressContainer {
  margin-left: 20px;
}

.dashboardLayerProgressInline {
  display: inline;
}

.target {
  will-change: auto;
  stroke-width: 5px;
  stroke-opacity: 0.7;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}

.dashboardGauge {
  stroke: #08c;
}

div.inline {
  display: inline-block;
}

svg path {
  will-change: auto;
  stroke-width: 20px;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 500ms ease-in-out;
}

svg text {
  font-family: sans-serif;
  fill: #08c;
}

/*Chart*/
.ct-chart {
  padding: 0px;
  padding-top: 5px;
}
.ct-series-a .ct-line {
  stroke: #08c;
  stroke-width: 3px;
}
.ct-labels span {
  color: steelblue;
}
.ct-grids line {
  color: steelblue;
}
.ct-series-a .ct-area {
  fill: steelblue;
}
.ct-grid{ 
  stroke: steelblue;
}
.ct-horizontal{ 
  stroke: steelblue;
}


/* Webcam */

#dashboard_webcam_container .webcam_rotated {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  pointer-events: none
}

#dashboard_webcam_container .webcam_rotated .webcam_fixed_ratio {
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  pointer-events: none
}

#dashboard_webcam_container .webcam_rotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
  width: 100%;
  height: 100%;
  pointer-events: none
}

#dashboard_webcam_container .webcam_unrotated .webcam_fixed_ratio {
  width: 100%;
  pointer-events: none;
  padding-bottom: 100%;
  position: relative
}

#dashboard_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio43 {
  padding-bottom: 75%
}

#dashboard_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio169 {
  padding-bottom: 56.25%
}

#dashboard_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio1610 {
  padding-bottom: 62.5%
}

#dashboard_webcam_container .webcam_unrotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none
}

#dashboard_webcam_container img {
  width: 100%;
  height: 100%;
  object-fit: contain
}

/* Small Screens */

@media (max-width: 700px) {
  #touch .dashboardGridItem {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px grey!important;
  }
  #touch .dashboardGridItem>span::before {
    content: "\A";
    white-space: pre;
  }
  #touch .dashboardGridItem>div.inline {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}

#touch input#fullScreenIcon {
  height: 18px!important;
  background: none!important;
  color: white!important;
  opacity: 1!important;
}

/* FullScreen.*/

/* fs moz */

.dasboardContainer:-moz-full-screen {
  color: #dadadc!important;
  font-weight: 400;
  background-color: #000000;
  user-select: none;
}

.dasboardContainer:-moz-full-screen .dashboardGridItem {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dasboardContainer:-moz-full-screen .dashboardGridItem>span::before {
  content: "\A";
  white-space: pre;
}

.dasboardContainer:-moz-full-screen .dashboardGridItem>div.inline {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.dasboardContainer:-moz-full-screen .dasboardFsContainer {
  position: fixed;
  left: 2vmin;
  right: calc(65vw + 4vmin);
  width: calc(35vw - 6vmin);
  max-height: calc(100vh - 4vmin);
  margin: 0px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  padding: 2vmin 0px;
}

.dasboardContainer:-moz-full-screen div#dashboard_webcam_container {
  position: fixed;
  max-width: 65vw;
  max-height: calc(90vh - 4vmin);
  right: 2vmin;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.dasboardContainer:-moz-full-screen .dasboardFsContainer#dasboardFsContainer_webcam_false {
  width: calc(100vw - 6vmin);
  right: 2vmin;
  left: 2vmin;
  top: 2vmin;
  transform: unset;
}

.dasboardContainer:-moz-full-screen .dasboardFsContainer .dashboardProgressContainer {
  text-align: center;
}

/* fs ms */

.dasboardContainer:-ms-fullscreen {
  color: #dadadc!important;
  font-weight: 400;
  background-color: #000000;
  user-select: none;
}

.dasboardContainer:-ms-fullscreen .dashboardGridItem {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dasboardContainer:-ms-fullscreen .dashboardGridItem>span::before {
  content: "\A";
  white-space: pre;
}

.dasboardContainer:-ms-fullscreen .dashboardGridItem>div.inline {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.dasboardContainer:-ms-fullscreen .dasboardFsContainer {
  position: fixed;
  left: 2vmin;
  right: calc(65vw + 4vmin);
  width: calc(35vw - 6vmin);
  max-height: calc(100vh - 4vmin);
  margin: 0px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  padding: 2vmin 0px;
}

.dasboardContainer:-ms-fullscreen div#dashboard_webcam_container {
  position: fixed;
  max-width: 65vw;
  max-height: calc(90vh - 4vmin);
  right: 2vmin;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.dasboardContainer:-ms-fullscreen .dasboardFsContainer#dasboardFsContainer_webcam_false {
  width: calc(100vw - 6vmin);
  right: 2vmin;
  left: 2vmin;
  top: 2vmin;
  transform: unset;
}

.dasboardContainer:-ms-fullscreen .dasboardFsContainer .dashboardProgressContainer {
  text-align: center;
}

/* fs webkit */

.dasboardContainer:-webkit-full-screen {
  color: #dadadc!important;
  font-weight: 400;
  background-color: #000000;
  user-select: none;
}

.dasboardContainer:-webkit-full-screen .dashboardGridItem {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dasboardContainer:-webkit-full-screen .dashboardGridItem>span::before {
  content: "\A";
  white-space: pre;
}

.dasboardContainer:-webkit-full-screen .dashboardGridItem>div.inline {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.dasboardContainer:-webkit-full-screen .dasboardFsContainer {
  position: fixed;
  left: 2vmin;
  right: calc(65vw + 4vmin);
  width: calc(35vw - 6vmin);
  max-height: calc(100vh - 4vmin);
  margin: 0px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  padding: 2vmin 0px;
}

.dasboardContainer:-webkit-full-screen div#dashboard_webcam_container {
  position: fixed;
  max-width: 65vw;
  max-height: calc(90vh - 4vmin);
  right: 2vmin;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.dasboardContainer:-webkit-full-screen .dasboardFsContainer#dasboardFsContainer_webcam_false {
  width: calc(100vw - 6vmin);
  right: 2vmin;
  left: 2vmin;
  top: 2vmin;
  transform: unset;
}

.dasboardContainer:-webkit-full-screen .dasboardFsContainer .dashboardProgressContainer {
  text-align: center;
}

/* fs all */

.dasboardContainer:fullscreen {
  color: #dadadc!important;
  font-weight: 400;
  background-color: #000000;
  user-select: none;
}

.dasboardContainer:fullscreen .dashboardGridItem {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dasboardContainer:fullscreen .dashboardGridItem>span::before {
  content: "\A";
  white-space: pre;
}

.dasboardContainer:fullscreen .dashboardGridItem>div.inline {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.dasboardContainer:fullscreen .dasboardFsContainer {
  position: fixed;
  left: 2vmin;
  right: calc(65vw + 4vmin);
  width: calc(35vw - 6vmin);
  max-height: calc(100vh - 4vmin);
  margin: 0px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  padding: 2vmin 0px;
}

.dasboardContainer:fullscreen div#dashboard_webcam_container {
  position: fixed;
  max-width: 65vw;
  max-height: calc(90vh - 4vmin);
  right: 2vmin;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.dasboardContainer:fullscreen .dasboardFsContainer#dasboardFsContainer_webcam_false {
  width: calc(100vw - 6vmin);
  right: 2vmin;
  left: 2vmin;
  top: 2vmin;
  transform: unset;
}

.dasboardContainer:fullscreen .dasboardFsContainer .dashboardProgressContainer {
  text-align: center;
}

/* full page */

.dasboardContainer.dashboard-full {
  color: #dadadc!important;
  font-weight: 400;
  background-color: #000000;
  user-select: none;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
}

.dasboardContainer.dashboard-full .dashboardGridItem {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dasboardContainer.dashboard-full .dashboardGridItem>span::before {
  content: "\A";
  white-space: pre;
}

.dasboardContainer.dashboard-full .dashboardGridItem>div.inline {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.dasboardContainer.dashboard-full .dasboardFsContainer {
  position: fixed;
  left: 2vmin;
  right: calc(65vw + 4vmin);
  width: calc(35vw - 6vmin);
  max-height: calc(100vh - 4vmin);
  margin: 0px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  padding: 2vmin 0px;
}

.dasboardContainer.dashboard-full div#dashboard_webcam_container {
  position: fixed;
  max-width: 65vw;
  max-height: calc(90vh - 4vmin);
  right: 2vmin;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.dasboardContainer.dashboard-full .dasboardFsContainer#dasboardFsContainer_webcam_false {
  width: calc(100vw - 6vmin);
  right: 2vmin;
  left: 2vmin;
  top: 2vmin;
  transform: unset;
}

.dasboardContainer.dashboard-full .dasboardFsContainer .dashboardProgressContainer {
  text-align: center;
}

.dashboardFullLoader {
  position: fixed;
  background-color: #000000;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 40vh;
}