<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title id="title">{{instanceName}} [OctoPrint Dashboard]</title>
<link rel="shortcut icon" href="/static/img/tentacle-32x32.png">
<link href="/plugin/dashboard/static/css/material-components-web.min.css" rel="stylesheet">
<link rel="stylesheet" href="/plugin/dashboard/static/css/dashboard.css?v2">
{% include 'dashboard_theme_module.jinja2' %}

<script src='{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}'></script>
<script src='{{ url_for("static", filename="js/lib/sockjs.min.js") }}'></script>
<script src='{{ url_for("static", filename="js/lib/lodash.min.js") }}'></script>
{% assets "js_client" -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}

<script src="/plugin/dashboard/static/js/lib/material-components-web.min.js"></script>
<script src="/plugin/dashboard/static/js/lib/vue.js"></script>
<script src="/plugin/dashboard/static/js/lib/vue-grid-layout.umd.min.js"></script>
<script src="/plugin/dashboard/static/js/lib/Chart.min.js"></script>
<script src="/plugin/dashboard/static/js/lib/vue-chartjs.min.js"></script>
<script src="/plugin/dashboard/static/js/lib/gauge.min.js"></script>
<script src="/plugin/dashboard/static/js/mdc-vue-wrapper.js"></script>
<script src="/plugin/dashboard/static/js/core/data-autocomplete-field.js"></script>
<script src="/plugin/dashboard/static/js/core/line-chart.js"></script>
<script type="module" src="/plugin/dashboard/static/js/core/main.js"></script>