<mdc-dialog v-model="settingsDialogOpen" :scrollable="true" title="Settings">
    <template>
        <mdc-switch v-model="outlined" label="Outline style widgets"></mdc-switch>
        <mdc-switch v-model="reducedAnimations" label="Reduced animations"></mdc-switch>
    </template>
    <mdc-button data-mdc-dialog-action="DONE" slot="actions">
        DONE
    </mdc-button>
</mdc-dialog>