<mdc-dialog :open="_editingWidget" :scrollable="true" @closed="editWidgetDialogClosed" class="fullWidthDialog"
    :escape-key-action="editingWidgetDialogCloseAction" :scrim-click-action="editingWidgetDialogCloseAction"
    :title="_editingWidget == true ? ('Edit Widget ' + layout[editingWidget].title) : ''">
    <template v-if="_editingWidget">
        <template>
            <mdc-select label="Type" v-model="layout[editingWidget].type" style="width: 100%;">
                <mdc-select-option v-for="widget in widgets" :value="widget.value" :label="widget.label">
                </mdc-select-option>
            </mdc-select>
            <br>
            <br>
            <mdc-text-field v-model="layout[editingWidget].title" required maxlength="40" label="Title"
                style="width: 100%;"></mdc-text-field>
            <br>
            <component v-if="widgets[layout[editingWidget].type] != null"
                :is="widgets[layout[editingWidget].type].settings" :widget="layout[editingWidget]"></component>
        </template>
    </template>
    <template slot="actions">
        <mdc-button v-if="!editingWidgetIsNew" data-mdc-dialog-action="DELETE">
            DELETE
        </mdc-button>
        <mdc-button v-if="editingWidgetIsNew" data-mdc-dialog-action="CANCEL">
            CANCEL
        </mdc-button>
        <mdc-button :data-mdc-dialog-action="editingWidgetDialogCloseAction"
            :disabled="editingWidgetDialogDisallowClose">
            DONE
        </mdc-button>
    </template>
</mdc-dialog>