<h3>{{ _('Dashboard Settings') }}</h3>
<form class="form-horizontal">
	<div class="control-group">
        <label class="control-label">{{ _('Progress gauge type')}}</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="pluginDashboardProgressGroup" value="circle" data-bind="checked: settings.plugins.dashboard.gaugetype"> {{ _('Circle') }}
            </label>
            <label class="radio">
                <input type="radio" name="pluginDashboardProgressGroup" value="bar" data-bind="checked: settings.plugins.dashboard.gaugetype"> {{ _('Bar') }}
            </label>
        </div>
    </div>

    <legend>{{ _('Temperature Gauge Maximums') }}</legend>
    <div class="control-group">
        <label class="control-label">{{ _('Hotend Max:')}}</label>
        <div class="controls">
            <input type="number" min="0" max="300" step="10" class="input-mini text-left" data-bind="value: settings.plugins.dashboard.hotendTempMax">
            <span class="add-on">&deg;C</span>
        </div>
        <label class="control-label">{{ _('Bed Max:')}}</label>
        <div class="controls">
            <input type="number" min="0" max="300" step="10" class="input-mini text-left" data-bind="value: settings.plugins.dashboard.bedTempMax">
            <span class="add-on">&deg;C</span>
        </div>
        <label class="control-label">{{ _('Chamber Max:')}}</label>
        <div class="controls">
            <input type="number" min="0" max="300" step="10" class="input-mini text-left" data-bind="value: settings.plugins.dashboard.chamberTempMax">
            <span class="add-on">&deg;C</span>
        </div>
   </div>

    <legend>{{ _('Widget Visibility') }}</legend>
    <div class="control-group">
        <div >
            <label class="checkbox">{{ _('Show Fullscreen Mode') }}
                <input type="checkbox" data-bind="checked: settings.plugins.dashboard.showFullscreen">
            </label>
        </div>
        <div >
            <label class="checkbox">{{ _('Show RPi System Info') }}
                <input type="checkbox" data-bind="checked: settings.plugins.dashboard.showSystemInfo">
            </label>
        </div>
        <div >
            <label class="checkbox">{{ _('Show Fan Gauge') }}
                <input type="checkbox" data-bind="checked: settings.plugins.dashboard.showFan">
            </label>
        </div>
        <div >
            <label class="checkbox">{{ _('Show Progress Gauge') }}
                <input type="checkbox" data-bind="checked: settings.plugins.dashboard.showProgress">
            </label>
        </div>
        <div >
            <label class="checkbox">{{ _('Show Filament Widget') }}
                <input type="checkbox" data-bind="checked: settings.plugins.dashboard.showFilament">
            </label>
        </div>
        <div >
            <label class="checkbox">{{ _('Show Webcam') }}
                <input type="checkbox" data-bind="checked: settings.plugins.dashboard.showWebCam">
            </label>
        </div>
   </div>


   <legend>{{ _('Advanced Settings') }}</legend>
    <div class="control-group">
        <div >
            <label class="checkbox">{{ _('Hide hotend(s) when target temp = 0 (Useful for dual hotends)') }}
                <input type="checkbox" data-bind="checked: settings.plugins.dashboard.hideHotend">
            </label>
        </div>
   </div>

</form>


