<!-- HTML grid-based layout. Set to 3 columns wide in css -->
<div class="dasboardGridContainer">

  <!-- Current Profile, Connection state, and current status-->
  <div class="dashboardGridItem">
    <img class="dashboardIcon" title="Printer profile" src="/plugin/dashboard/static/img/printer-icon.png"></img>
    <span id="profileInfo" data-bind="attr: { title: 'Profile name' }, html: printerProfilesModel.currentProfileData().name()"></span>
  </div>
  <div class="dashboardGridItem">
    <img class="dashboardIcon" title="Connection status" src="/plugin/dashboard/static/img/usb-icon.png"></img>
    <span id="connectionInfo" data-bind="attr: { title: 'Connection status' }, html: formatConnectionstatus(connectionModel.isOperational())"></span>
  </div>
  <div class="dashboardGridItem">
    <img class="dashboardIcon" title="Printer status" src="/plugin/dashboard/static/img/status-icon.png"></img>
    <span id="stateInfo" data-bind="attr: { title: 'Printer status' }, html: printerStateModel.stateString()"></span>
  </div>  

  <!-- TEMPS & FAN -->
 
  <div class="dashboardGridItem" data-bind="visible: temperatureModel.isOperational()">
    <img class="dashboardIcon" title="Hotend temp (target temp)" src="/plugin/dashboard/static/img/hotend-icon.png"></img>    
      <svg  xmlns="http://www.w3.org/2000/svg" height="120" width="120" viewBox="0 0 200 200">
        <path class="bg" stroke="#ccc" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none"/>
        <path class="current" stroke="#09c" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none" stroke-dasharray="350" data-bind="attr: { 'stroke-dashoffset': formatTempOffset(temperatureModel.tools()[0].actual(), 300) }"/>
        <path class="target" stroke="gray" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none" stroke-dasharray="350" data-bind="attr: { 'stroke-dashoffset': formatTempOffset(temperatureModel.tools()[0].target(), 300) }"/>          
        <text font-size="30" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#08c" data-bind="html: temperatureModel.tools()[0].actual() + '°C'"></text>
        <text font-size="20" x="50%" y="85%" dominant-baseline="middle" text-anchor="middle" fill="#08c" data-bind="html: 'Target: ' + temperatureModel.tools()[0].target() + '°C' "></text>
      </svg>
  </div>
  <div class="dashboardGridItem" data-bind="visible: temperatureModel.isOperational()">
    <img class="dashboardIcon" title="Bed temp (target temp)" src="/plugin/dashboard/static/img/bed-icon.png"></img>    
      <svg  xmlns="http://www.w3.org/2000/svg" height="120" width="120" viewBox="0 0 200 200">
        <path class="bg" stroke="#ccc" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none"/>
        <path class="current" stroke="#09c" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none" stroke-dasharray="350" data-bind="attr: { 'stroke-dashoffset': formatTempOffset(temperatureModel.bedTemp.actual(), 300) }"/>
        <path class="target" stroke="gray" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none" stroke-dasharray="350" data-bind="attr: { 'stroke-dashoffset': formatTempOffset(temperatureModel.bedTemp.target(), 300) }"/>          
        <text font-size="30" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#08c" data-bind="html: temperatureModel.bedTemp.actual() + '°C'"></text>
        <text font-size="20" x="50%" y="85%" dominant-baseline="middle" text-anchor="middle" fill="#08c" data-bind="html: 'Target: ' + temperatureModel.bedTemp.target() + '°C' "></text>
      </svg>
  </div>
  <div class="dashboardGridItem" data-bind="visible: temperatureModel.isOperational()">
    
    <img class="dashboardIcon" title="Bed temp (target temp)" src="/plugin/dashboard/static/img/fan-icon.png"></img>    
      <svg  xmlns="http://www.w3.org/2000/svg" height="120" width="120" viewBox="0 0 200 200">
        <text font-size="30" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#08c" data-bind="attr: { title: 'Fan Speed' }, html: fanspeed"></text>
        <path class="bg" stroke="#ccc" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none"/>
        <path class="current" stroke="#09c" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none" stroke-dasharray="350" data-bind="attr: { 'stroke-dashoffset': formatFanOffset(fanspeed()) }"/>          
        
        <text font-size="20" x="50%" y="85%" dominant-baseline="middle" text-anchor="middle" fill="#08c">Fan Speed</text>
      </svg>

  </div>
  <!-- 
  <div class="dashboardGridItem" data-bind="visible: temperatureModel.isOperational()">
    <img class="dashboardIcon" title="Fan speed" src="/plugin/dashboard/static/img/fan-icon.png"></img>
    <span id="fanspeed" data-bind="attr: { title: 'Fan Speed' }, html: fanspeed"></span>
  </div>
-->
</div>

<!-- Currently printing file & progress-->
<div class="dasboardGridContainer">
     <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
        <img class="dashboardIcon" src="/plugin/dashboard/static/img/file-icon.png"></img>
        <span id="fileInfo" data-bind="attr: { title: 'File' }, html: printerStateModel.filename()"></span>
     </div> 
    <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
      <div class="dashboardProgressContainer">
        <svg class="dashboardProgress" width="120" height="120" viewBox="0 0 120 120">
            <circle cx="60" cy="60" r="54" fill="none" stroke="#ccc" stroke-width="12" />
            <circle cx="60" cy="60" r="54" fill="none" stroke="#09c" stroke-width="12" stroke-dasharray="339.292" transform="rotate(-90 60 60)" data-bind="attr: { 'stroke-dashoffset': formatProgressOffset(printerStateModel.progressString()) }"/>
            <text font-size="30" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#08c" data-bind="text: printerStateModel.progressBarString()"></text>
        </svg>
      </div>
    </div>
</div>

<div class="dasboardGridContainer">
  <!-- Times -->
  <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
    <img class="dashboardIcon" title="Estimated total print time" src="/plugin/dashboard/static/img/print-time-estimated-icon.png"></img>
    <span class="dashboardLarge" id="printTimeEstimated" data-bind="attr: { title: 'Estimated total print time' }, html: formatTime(printerStateModel.estimatedPrintTimeString())"></span>
  </div>
  <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
    <img class="dashboardIcon" title="Current print time" src="/plugin/dashboard/static/img/print-time-done-icon.png"></img>
    <span class="dashboardLarge" id="printTimeDone" data-bind="attr: { title: 'Current print time' }, html: printerStateModel.printTimeString()"></span>
  </div>
  <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
    <img class="dashboardIcon" title="Estimated time left" src="/plugin/dashboard/static/img/print-time-left-icon.png"></img>
    <span class="dashboardLarge" id="printTimeLeft" data-bind="attr: { title: 'Estimated time left' }, html: formatTime(printerStateModel.printTimeLeftString())"></span>
  </div>  

  <!-- Job & Progress -->
  <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
        <img class="dashboardIcon" title="Current Layer" src="/plugin/dashboard/static/img/layers-icon.png"></img>
        <span id="currentLayer" data-bind="attr: { title: 'Current Layer' }, html: currentLayer"></span>
        <span class="dashboardSmall" id="totalLayer" data-bind="attr: { title: 'Total Layers' }, html: totalLayer"></span>
  </div>
  <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
        <img class="dashboardIcon" title="Current height" src="/plugin/dashboard/static/img/height-icon.png"></img>
        <span id="currentHeight" data-bind="attr: { title: 'Current Height' }, html: currentHeight"></span>
        <span class="dashboardSmall" id="totalHeightWithExtrusion" data-bind="attr: { title: 'Total Height' }, html: totalHeightWithExtrusion"></span>
  </div>
  <div class="dashboardGridItem" data-bind="visible: printerStateModel.isPrinting()">
        <img class="dashboardIcon" title="Layer Time" src="/plugin/dashboard/static/img/layer-time-average-icon.png"></img>
        <span id="averageLayerDuration" data-bind="attr: { title: 'Average Layer Time' }, html: averageLayerDuration"></span>
  </div>
</div>




