<!DOCTYPE html>
<html>

<head>
    {% include 'dashboard_head.jinja2' %}
</head>

<body>
    {% include 'dashboard_loading_icon.jinja2' %}
    {% include 'dashboard_ieerror.jinja2' %}
    <div id="app">
        <v-app>
            <v-app-bar absolute color="white" elevation="2" dense>
                <img src="/static/img/tentacle-20x20@2x.png" width="20px" height="20px" />
                <v-toolbar-title style="margin-left: 10px;">{{"{{settings?.appearance.name == '' ? 'OctoPrint Dahboard' : settings?.appearance.name ?? 'OctoPrint Dahboard'}}"}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon v-show="parentLayout.length >= 1" @click="navigateBack">
                    <v-icon>navigate_before</v-icon>
                </v-btn>
                <v-btn icon @click.stop="settingsDialogOpen=true">
                    <v-icon>settings</v-icon>
                </v-btn>
                <v-btn icon @click="newItem" v-if="editing">
                    <v-icon>add</v-icon>
                </v-btn>
                <v-btn icon @click="toggleEdit">
                    <v-icon>{{"{{editing ? 'check' : 'edit'}}"}}</v-icon>
                </v-btn>
            </v-app-bar>
            <div id="main-scroll-container">
                {% include 'dashboard_grid.jinja2' %}
            </div>
            {% include 'dashboard_settings_dialog.jinja2' %}
            {% include 'dashboard_widget_edit_dialog.jinja2' %}
            <v-snackbar :value="showReconnectMessage" style="z-index: 1000001;">
                Attempting to connect to the server...
                <template v-slot:action="{ attrs }">
                    <v-btn color="primary" text v-bind="attrs" @click="reconnect">
                        Force retry
                    </v-btn>
                </template>
            </v-snackbar>
        </v-app>
    </div>
</body>

</html>