<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ statusCode }} {{ httpStatusCodes[statusCode] }}</title>
    </head>
    <body>
        <h1>Error {{ statusCode }}</h1>
        <p>
            {{ httpStatusCodes[statusCode] }}
        </p>
    </body>
</html>
