<grid-layout id="dashboardGridLayout" :layout.sync="layout" :col-num="4" :responsive="true" :row-height="90"
    :is-draggable="editing" :is-resizable="editing" :is-mirrored="false" :vertical-compact="true"
    @layout-updated="layoutUpdatedEvent" @layout-created="layoutCreatedEvent" :margin="[3, 3]" :prevent-collision="true"
    :breakpoints="{ xlg: 1300, lg: 1200, md: 996, sm: 768, xs: 480, xxs: 0}"
    :cols="{ xlg:10, lg: 8, md: 8, sm: 4, xs: 4, xxs: 2 }">

    <grid-item v-for="widget in layout" :x="widget.x" :y="widget.y" :w="widget.w" :h="widget.h" :i="widget.i"
        @resize="resizeEvent">
        <!--<widget-text v-if="widget.type == 'text'" :widget="widget" :data="data" :outlined="outlined"></widget-text>
        <widget-img v-else-if="widget.type == 'img'" :widget="widget" :settings="settings" :outlined="outlined">
        </widget-img>-->
        <component v-if="widgets[widget.type] != null" :is="widgets[widget.type].component" :widget="widget" :data="data" :settings="settings" :outlined="outlined"></component>
        <mdc-icon-button class="navigateButton" v-show="widget.navigate != null" @click="navigate(widget)" icon="navigate_next">
        </mdc-icon-button>
        <mdc-icon-button class="editButton" v-show="editing" @click="editWidget(widget.i)" icon="create">
        </mdc-icon-button>
    </grid-item>
</grid-layout>