<h3>{{ _('Dashboard Settings') }}</h3>
<form class="form-horizontal">
   <!--
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.url">
        </div>
    </div>
	-->

	<div class="control-group">
         <legend>Work in progress!</legend>
            <div>Note! The following settings has no effect yet:  </div>
        <label class="control-label">{{ _('Progress gauge type')}}</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="pluginDashboardProgressGroup" value="circle" data-bind="checked: settings.plugins.dashboard.gaugetype"> {{ _('Circle') }}
            </label>
            <label class="radio">
                <input type="radio" name="pluginDashboardProgressGroup" value="bar" data-bind="checked: settings.plugins.dashboard.gaugetype"> {{ _('Bar') }}
            </label>
        </div>
    </div>



</form>


