<h3>{{ _('Dashboard Settings') }}</h3>
<form class="form-horizontal">

	<div class="control-group">
        <label class="control-label">{{ _('Progress gauge type')}}</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="pluginDashboardProgressGroup" value="circle" data-bind="checked: settings.plugins.dashboard.gaugetype"> {{ _('Circle') }}
            </label>
            <label class="radio">
                <input type="radio" name="pluginDashboardProgressGroup" value="bar" data-bind="checked: settings.plugins.dashboard.gaugetype"> {{ _('Bar') }}
            </label>
        </div>
    </div>

</form>


